* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Georama", sans-serif;
  font-family: "Syncopate", sans-serif;
  background-color: #f8f8f9;
  color: #0a1027;
  width: 100%;
}

header {
  height: 85vh;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 30px;
}
.logo img {
  width: 50px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
h1 {
  color: #0a1027;
  font-size: 9rem;
  font-family: Syncopate;

  font-weight: 700;
}
.faint-text {
  color: #0a1027;
  font-size: 40px;
  font-family: Syncopate;

  font-size: 6rem;
  font-weight: lighter;
}
.pronouns {
  color: #0a1027;
  font-size: 1.2rem;
  font-family: Syncopate;
}
.home-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
.home-socials img {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.tag {
  font-size: 1.7rem;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #0d111f;
  color: #fff;
  height: 10vh;
  width: 100%;
}

/* text animation */
#scroll-text {
  /* animation properties */
  transform: translateX(100%);
  animation: my-animation 20s linear infinite;
}
/* for Chrome */
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* text animation */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  width: 100%;
  border-bottom: #0a1027;
  margin-top: 70px;
}
.nav-bar a {
  /* margin-right: 70px; */
  font-weight: 500;
  font-size: 1.3rem;
  font-family: Georama;
  text-decoration: none;
  color: #0a1027;
  /* display: flex;
  justify-content: space-between; */
}
a:hover {
  text-decoration: 2px solid underline;
  cursor: pointer;
  color: brown;
}

/* .container {
  width: 100%;
  padding: 0px 50px;
  margin: 0 auto;
} */

.nav-wrapper {
  background-color: #f8f9f9;
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 30px 50px;
}
.logo-icon {
  display: flex;
  gap: 1rem;
  justify-content: center;
  /* align-items: center; */
}
.logo-text {
  font-family: Syncopate;

  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0;
}
.page-name {
  font-size: 1.3rem;
  font-family: Syncopate;

  font-weight: 700;
  margin-bottom: 0;
}

/* sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #0a1027; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* sidebar links */
.sidebar a {
  padding: 50px 10px 16px 40px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* sidebar hover */
.sidebar a:hover {
  /* font-weight: 700; */
  color: brown;
  font-weight: 700;
}
.sidebar a:active {
  font-weight: 700;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 1.5rem;
  cursor: pointer;
  background: #f8f9f9;
  padding: 10px 15px;
  border: none;
}
.menu-socials {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 150px 0 0 50px;
}
.menu-socials img {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.menu-text {
  color: #fff;
  padding: 30px 0 0 50px;
  font-family: Georama;
  font-size: 1.2rem;
}
/* .openbtn:hover {
  background-color: #0a1027;
  color: #fff;
} */

/* About page */
/* header {
  padding: 100px 0 0 0;
} */
.about-body {
  margin: 0 80px 0 100px;
}
.intro-main {
  padding-top: 80px;
}
.intro-head {
  margin: 80px 0 0 100px;
}
.intro {
  font-family: Syncopate;
  font-weight: 400;
  font-size: 1.7rem;
  /* margin-top: 50px; */
}

.img-head h1 {
  font-family: Syncopate;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
}
.img-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .img-head h1 {
  align-items: ;
} */
.page-img img {
  position: relative;
}
.gradient {
  /* background-color: #0d111f; */
  position: absolute;
  width: 600px;
  height: 40px;
  bottom: -70px;
  /* left: 50px; */
  background: linear-gradient(360deg, #fff 50%, rgba(255, 255, 255, 0) 100%);
}

.body-text {
  font-family: Georama;
  font-size: 1.6rem;
  margin: 20px 0 20px 0;
  line-height: 2.7rem;
}
/* footer */
footer {
  background-color: #0a1027;
  color: #fff;
  display: flex;
  padding: 50px;
}

.footer-text {
  font-size: 4rem;
  font-family: Syncopate;

  font-weight: 400;
}
.email {
  font-size: 1.3rem;
  border-radius: 0.625rem;
  background: #1b1a28;
  width: fit-content;
  padding: 10px;
  /* gap: 50px; */
  display: flex;
  gap: 40px;
  align-items: center;
}
.email img {
  border-radius: 0.625rem;
  background: #fef1e9;
  padding: 5px;
}
.socials {
  width: 50%;
}
.socials p {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 30px;
}
.socials p img {
  padding: 8px;
  background: #ecf4ff;
  border-radius: 10px;
}

/* Projects */
.clickable-section {
  cursor: pointer;
  /* transition: transfrom .2s; */
}
.project-main {
  padding-top: 200px;
}
.project {
  background-color: #fafafe;
  padding: 30px 0 20px 50px;
  margin: 0 100px 100px 100px;
  display: flex;
  max-height: 450px;
  overflow: hidden;
  /* justify-content: center;
  align-items: center; */
}
.project:hover {
  background-color: #f3f3f4;
  cursor: pointer;
}
.project-group {
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project-year {
  font-family: Georama;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.project-name {
  color: #120a27;
  font-size: 6rem;
  font-family: Syncopate;
  font-weight: 700;
}
.project-details {
  font-size: 1.5rem;
  font-family: Georama;
  font-weight: 400;
  margin-top: 30px;
  /* width: 558px; */
}
.project-image {
  width: 550px;
}

/* sub-project */
.quid-div {
  padding: 150px 0 100px 0;
}
.quid-app {
  background: #091623;
  padding: 50px 100px 30px 100px;
  /* margin: 70px 0 100px 0; */
  /* margin-top: 150px; */
  height: 55vh;
  overflow: hidden;
  display: flex;
}
/* .hero-text {
  /* width: 50%; */
.quid-heading h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #eceffb;
}
.quid-heading p {
  color: #fbb03b;
  font-family: Georama;
  font-size: 1.5rem;
  padding: 30px 0 0 0;
  font-weight: 500;
}
.quid-details {
  display: flex;
  gap: 50px;
  padding: 30px 0 0 0;
  margin-top: 30px;
}
.job {
  color: #dee4e6;
  font-size: 1.2rem;
  font-family: Georama;
  font-weight: 400;
  padding-bottom: 15px;
}
.jd {
  color: #fff;
  font-size: 1.5rem;
  font-family: Georama;
  font-weight: 600;
}
.hero-img {
  max-width: 400px;
}
.body-details {
  padding: 0 50px 100px 100px;
}
.project-body h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
.project-body p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.5rem;
}
.project-body-img {
  margin: 50px 0 100px 0;
}
.disclaimer {
  display: flex;
  gap: 20px;
  border-radius: 0.625rem;
  border: 5px solid #fde8bb;
  background: #c06f0c;
  color: #fff;
  padding: 40px;
  width: 700px;
  margin: 50px auto;
}
.disclaimer h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 10px;
}
.disclaimer p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 200;
  line-height: 2rem;
}
.design-process h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  margin: 20px 0 20px 100px;
  /* margin-left: 100px; */
}
.design-process img {
  background-color: #2c2079;
  padding: 70px;
  width: 90%;
  margin-bottom: 100px;
}
.border {
  background-color: #0772d4;
  height: 20px;
}
.product-research {
  padding: 50px 50px 100px 100px;
}
.product-research h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.product-research p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.product-discovery-card {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 80px;
  gap: 50px;
}
.greencard-img {
  background-color: #f7feed;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.greencard-img p {
  background-color: #f7feed;
  font-family: Syncopate;
  font-size: 1.7rem;
  font-weight: 700;
  color: #0b7909;
}
.browncard-img {
  background-color: #fef7ed;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.browncard-img p {
  font-family: Syncopate;
  font-size: 1.7rem;
  font-weight: 700;
  color: #795f09;
}

.greencard-img img {
  background-color: #0b7909;
  border: 4px solid #1eaf1b;
  border-radius: 10px;
  padding: 10px;
}

.browncard-img img {
  background-color: #795f09;
  border: 4px solid #af701b;
  border-radius: 10px;
  padding: 10px;
}

.greencard-p p {
  padding: 50px;
  background-color: #39641e;
  color: #fff;
  font-size: 1.1rem;
}

.browncard-p p {
  padding: 50px;
  background-color: #64501e;
  color: #fff;
  font-size: 1.1rem;
}
.pd-card {
  border-radius: 4px;
  border: 8px solid #000;
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  width: 478px;
  padding: 30px;
}
.pd-card p {
  color: #000;
  text-align: center;
  font-family: Georama;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 169.4%;
  padding: 30px;
}

#yellow-block {
  border-radius: 10px;
  border: 5px solid #fce2ae;
  background: #e0a124;
  padding: 5px 30px;
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  font-family: Syncopate;
  font-size: 1.8rem;
  font-weight: 700;
}
.discovery {
  padding: 50px 50px 100px 100px;
}
.discovery h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.discovery p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.row-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.block1 {
  border-radius: 1.25rem;
  border: 8px solid #56911d;
  background: #213f05;
  padding: 2rem;
  color: white;
  width: 23rem;
}
.block1 p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 500;
}

.block2 {
  border-radius: 1.25rem;
  border: 8px solid #77187d;
  background: #3c053f;
  padding: 2rem;
  color: white;
  width: 23rem;
}
.block2 p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 500;
}
.row-2 {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.row-2 p {
  /* display: flex; */
  width: 23rem;
  padding: 2rem;
  border-radius: 1.25rem;
  border: 8px solid #205a85;
  background: #05263f;
  color: white;
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 500;
}
.row-3 {
  display: flex;
  justify-content: space-between;
}
.block3 {
  border-radius: 1.25rem;
  border: 8px solid #90651c;
  background: #3f2a05;
  padding: 2rem;
  color: white;
  width: 23rem;
}
.block3 p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 500;
}

.block4 {
  border-radius: 1.25rem;
  border: 8px solid #0e7080;
  background: #05373f;
  padding: 2rem;
  color: white;
  width: 23rem;
}
.block4 p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 500;
}
.border2 {
  background-color: #090f2f;
  height: 20px;
}
.painpoints {
  padding: 50px 50px 100px 100px;
}
.painpoints h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.painpoints p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.painpoints-block {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: #fcfbff;
  padding: 30px;
  gap: 30px;
  margin: 50px 0 0 0;
}
/* .painpoints-block {
  width: 100%;
} */
.painpoints-block h4 {
  color: #0a1027;
  font-family: Syncopate;
  font-size: 1.3rem;
  font-weight: 700;
}
.border3 {
  background-color: red;
  height: 10px;
  width: 190px;
  margin-bottom: 10px;
}
ul.a {
  color: #0a1027;
  font-family: Georama;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  /* list-style: none; */
}
.a li::before {
  content: "\25c9";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 2rem;
  /* margin-left: -1em; */
}
/* musiq */
.reviews-screenshot {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.reviews-screenshot img {
  border-radius: 9.136px;
  border: 9.136px solid #f82424;
  background: #fce0dd;
  padding: 20px;
  width: 500px;
  margin-bottom: 50px;
}
.c-audit {
  padding: 50px 50px 100px 100px;
}
.c-audit h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.c-audit p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.caudit-img {
  border: 20px solid #5021ef;
  background-color: #ebeefe;
  border-radius: 10px;
  padding: 30px;
  margin: 50px 0 0 0;
}
/* user stories */
.user-stories h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.userstories li {
  display: revert;
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 3rem;
  font-style: italic;
}
/* user personas */
.user-personas {
  margin: 50px 50px 100px 100px;
  padding: 50px;
  border-top: 8px solid #e1820b;
  background: #fff;
}
.user-personas img {
  border-radius: 10px;
  border: 10px solid #efa921;
  background: #ebeefe;
  padding: 40px;
  margin: 50px 0 0 0;
  width: 1000px;
}
.persona-img {
  padding: 100px;
}
/* padding: 50px 50px 100px 100px; */
.product-goals {
  background-color: #f8f8f9;
  padding: 50px 50px 100px 100px;
}
.border4 {
  background-color: #e10b89;
  height: 10px;
}
.product-goals-details {
  background-color: #fff;
  padding: 30px;
}
.heading4 h4 {
  color: #aa31f5;
  font-size: 1.3rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
  padding: 20px;
  border: 8px solid #fcfcfc;
  border-radius: 50px;
  width: fit-content;
  margin: auto;
}
.heading4 p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.goals {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
.goals h4 {
  color: #aa31f5;
  font-size: 1.3rem;
  font-family: Syncopate;
  font-weight: 700;
  padding: 20px 0;
}
.b li {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 3rem;
  list-style: none;
}
li {
  display: flex;
  /* align-items: flex-start; */
}
.ia {
  background-color: #472878;
  padding: 20px 0;
}
.ia-details {
  background-color: white;
  padding: 50px 50px 100px 100px;
}
.ia-details h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.ia-details p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.musiq-ia {
  padding: 50px;
  background: #0f1e2f;
}
.Ia-img {
  background: #0f1e2f;
}
.sketches-img {
  display: flex;
  width: 100%;
}
.sketches-img img {
  width: 50%;
}
.img-1 {
  position: relative;
  top: 10px;
}
.img-2 {
  position: absolute;

  right: 100px;
}

/* Horizontal container */
.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 50px;
}
.scroll-container img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.border5 {
  background-color: #472878;
  height: 20px;
  margin-top: 100px;
}
/* .designs {
  /* padding: 50px 50px 100px 100px; */
/* padding: 50px 100px; */
/* }  */
.designs-heading {
  padding: 50px 50px 100px 100px;
}
.designs-heading h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.designs-heading p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* onboarding(project) */
.onboarding {
  background: #f9fcff;
  padding: 50px 50px 100px 100px;
}
.onboarding h3 {
  color: #0871da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.onboarding p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.designs-img {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding-top: 50px;
}
.designs-img img {
  width: 20%;
}
/* registration(project) */
.registration {
  background: #fdf9ff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.registration h3 {
  color: #7908da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.registration p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}

.scroll-container2 {
  overflow: auto;
  white-space: nowrap;
  padding: 50px;
}
.scroll-container2 img {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
/* navigation(project) */
.navigation {
  background: #fffbf9;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.navigation h3 {
  color: #da6c08;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.navigation p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* product-purchase(project) */
.product-purchase {
  background: #faf9ff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.product-purchase h3 {
  color: #0808da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.product-purchase p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* curated orders */
.curated-orders {
  background: #fffbf9;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.curated-orders h3 {
  color: #da6c08;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.curated-orders p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/*cart*/
.cart {
  background: #faf9ff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.cart h3 {
  color: #0808da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.cart p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* tracking */
.tracking {
  background: #faf9ff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.tracking h3 {
  color: #0808da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.tracking p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* withdrawals */
.withdrawals {
  background: #fffbf9;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.withdrawal {
  padding-top: 70px;
}
.withdrawals h3 {
  color: #da6c08;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.withdrawals p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* promotions */
.promotions {
  background: #faf9ff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.promotions h3 {
  color: #0808da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.promotions p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* feedbacks */
.feedbacks {
  background: #f9fdff;
  padding: 50px 50px 100px 100px;
  margin-top: 50px;
}
.feedbacks h3 {
  color: #08a4da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.feedbacks p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
/* fidelity bank project screens */
.fidelity-project {
  padding: 50px 50px 100px 100px;
  background: #f9fcff;
}
.project-screens {
}
.splash-screen {
}
.splash-screen h3 {
  color: #0871da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.splash-screen h4 {
  font-family: Syncopate;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 50px 0 0 0;
}
.splash-screen h5 {
  font-family: Syncopate;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 50px 0;
}
.splash-screen p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.splash-img {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px; /* flex-wrap: wrap; */
  padding-top: 50px;
}
.splash-img img {
  width: 25%;
}
.transfer {
  margin-top: 50px;
  padding: 50px 50px 100px 100px;
  background-color: #faf9ff;
}
.transfer h3 {
  color: #0808da;
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 20px;
}
.transfer p {
  font-size: 1.3rem;
  font-family: Georama;
  font-weight: 400;
  line-height: 2.3rem;
}
.feature-project {
  margin: 0 auto;
}
.new-feature {
  border-radius: 8px;
  border: 8px solid #14d62e;
  background: #28a413;
  color: #fff;
  margin: 0 auto;
  font-family: Syncopate;
  font-size: 1.8rem;
  width: 600px;
  padding: 30px;
  text-align: center;

  font-weight: 700;
  line-height: normal;
}
.learnings {
  display: flex;
  gap: 20px;
  border-radius: 5px;
  border: 10px solid #bbd6fd;
  background: #0c3dc0;
  color: #fff;
  padding: 40px;
  width: 700px;
  margin: 50px auto;
}
.learnings h3 {
  font-size: 1.8rem;
  font-family: Syncopate;
  font-weight: 700;
  padding-bottom: 10px;
}
.learnings p {
  font-size: 1.1rem;
  font-family: Georama;
  font-weight: 200;
  line-height: 2rem;
}
.next-project {
  border-radius: 100px;
  border: 10px solid #97a8f9;
  background: #203079;
  display: flex;
  width: 600px;
  padding: 30px 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Syncopate;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
}

/* footer */
.project-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: #203079;
  color: #fff;
  padding: 50px;
  margin: 100px 0 50px 0;
}
.project-footer p {
  color: #fff;
  font-family: Syncopate;
  font-size: 2rem;
  font-weight: 700;
}
#text {
  color: #fff;
  font-family: Georama;
  font-size: 1.5rem;
  font-weight: 400;
}
/* phonees */

@media (max-width: 480px) {
  /* index.html */
  header {
    height: 85vh;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 30px;
  }
  .logo img {
    width: 30px;
  }
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  h1 {
    color: #0a1027;
    font-size: 2rem;
    font-family: Syncopate;

    font-weight: 700;
  }
  .faint-text {
    color: #0a1027;
    font-size: 1.5rem;
    font-family: Syncopate;
    font-weight: 400;
  }
  .pronouns {
    color: #0a1027;
    font-size: 0.5rem;
    font-family: Syncopate;
    font-weight: 400;
  }
  .tag {
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #0d111f;
    color: #fff;
    height: 10vh;
    width: 100%;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    width: 100%;
    border-bottom: #0a1027;
    margin-top: 20px;
  }
  .nav-bar a {
    font-weight: 500;
    font-size: 0.5rem;
    font-family: Georama;
    text-decoration: none;
    color: #0a1027;
  }
  a:hover {
    text-decoration: 2px solid underline;
    cursor: pointer;
    color: brown;
  }

  /* Navbar */
  .nav-wrapper {
    background-color: #f8f9f9;
    position: fixed;
    z-index: 1;
    /* width: 100%; */
  }

  .nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 10px;
  }
  .logo-icon {
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* width: 20px; */
    /* align-items: center; */
  }
  .logo-text {
    font-family: Syncopate;

    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  .page-name {
    font-size: 1rem;
    font-family: Syncopate;

    font-weight: 700;
    margin-bottom: 0;
  }

  /* sidebar menu */
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #0a1027; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  /* sidebar links */
  .sidebar a {
    padding: 50px 10px 16px 40px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  /* sidebar hover */
  .sidebar a:hover {
    /* font-weight: 700; */
    color: brown;
    font-weight: 700;
  }
  .sidebar a:active {
    font-weight: 700;
  }
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 1rem;
    cursor: pointer;
    background: #f8f9f9;
    padding: 10px 15px;
    border: none;
  }
  .menu-socials {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 150px 0 0 50px;
  }
  .menu-socials img {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
  }
  .menu-text {
    color: #fff;
    padding: 20px 0 0 50px;
    font-family: Georama;
    font-size: 1rem;
  }

  /* about page */
  .about-body {
    margin: 0 auto;
  }
  .intro-main {
    padding-top: 80px;
  }
  .intro-head {
    margin: 80px 0 0 100px;
  }
  .intro {
    font-family: Syncopate;
    font-weight: 400;
    font-size: 0.7rem;
    /* margin-top: 50px; */
  }

  .img-head h1 {
    font-family: Syncopate;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .img-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .img-head h1 {
    align-items: ;
  } */
  .page-img img {
    position: relative;
  }
  .gradient {
    /* background-color: #0d111f; */
    position: absolute;
    width: 600px;
    height: 40px;
    bottom: -70px;
    /* left: 50px; */
    background: linear-gradient(360deg, #fff 50%, rgba(255, 255, 255, 0) 100%);
  }

  .body-text {
    font-family: Georama;
    font-size: 1.6rem;
    margin: 20px 0 20px 0;
    line-height: 2.7rem;
  }
}
